.complaint-card{
    width: 90%;
    background-color: white;
    color: black;
    border-radius: 15px;
    margin: 25px auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    
}

.complaint-card p{
    color: black;
    font-weight: 600;
}





