.request-card{
    width: 90%;
    background-color: white;
    color: black;
    border-radius: 15px;
    margin: 25px auto;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
}

.request-card p{
    color: black;
    font-weight: 600;
}

.request-card span{
    color: black;
    font-weight: 600;
}

.search{
    display: flex;
    margin: 30px auto;
    width: 30%;
    height: 40px;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}